<div class="row centering">

<div class="panel panel-default col-xs-4 infobox unroundedbottom">
  <div class="panel-heading">
    <div class="panel-title center">
      <h4 class="emerald"><span class="glyphicon glyphicon-home emerald"></span> &nbsp;&nbsp;&nbsp; Your Home Info</h4>
    </div>
  </div>
  <div class="panel-body">

		<h4 class="belize"><strong><%= current_user.name %> <%= current_user.lastname %></strong></h4>
		<p><strong>Address to be cleaned:</strong></p>
		<p><%= current_user.address %></p>
		<p><%= current_user.city %></p>
		<p><%= current_user.zip %></p>
		<p><strong>Email: </strong><%= current_user.email %></p>
		<p><strong>Phone: </strong><%= current_user.phone %></p>

		</br>

    <p><strong>Number of bedrooms:</strong> <%= current_user.bedrooms %></p>

    <p><strong>Number of bathrooms:</strong> <% if current_user.bathrooms == 1 %>
      <% "0 or 1" %> 
      <% else %>
      <%= current_user.bathrooms %>
      <% end %></p>

      <p><strong>Square Feet:</strong> <% if current_user.sf == 1 %>
      <%= "0-500 sf" %> 
      <% elsif current_user.sf == 2 %>
      <%= "500-1000 sf" %>
      <% elsif current_user.sf == 3 %>
      <%= "1000-2000 sf" %>
      <% elsif current_user.sf == 4 %>
      <%= "2000-3000 sf" %>
      <% elsif current_user.sf == 5 %>
      <%= "3000-4000 sf" %>
      <% elsif current_user.sf == 6 %>
      <%= "4000-5000 sf" %>
      <% elsif current_user.sf == 7 %>
      <%= "5000+ sf" %>
      <% end %></p>

    </br>

     <p><strong>Your Standard Cleaning Price:</strong> $
      <% if current_user.sf == 1  %>
      <%= 55 + (current_user.bedrooms - 1 + current_user.bathrooms - 1) * 10 %>
      <% elsif current_user.sf == 2 %>
      <%= 55 + (current_user.bedrooms - 1 + current_user.bathrooms - 1) * 10 + 10 %>
      <% elsif current_user.sf == 3 %>
      <%= 55 + (current_user.bedrooms - 1 + current_user.bathrooms - 1) * 10 + 30 %>
      <% elsif current_user.sf == 4 %>
      <%= 55 + (current_user.bedrooms - 1 + current_user.bathrooms - 1) * 10 + 70 %>
       <% elsif current_user.sf == 5 %>
      <%= 55 + (current_user.bedrooms - 1 + current_user.bathrooms - 1) * 10 + 110 %>
       <% elsif current_user.sf == 6 %>
      <%= 55 + (current_user.bedrooms - 1 + current_user.bathrooms - 1) * 10 + 150 %>
      <% elsif current_user.sf == 7 %>
      <%= 55 + (current_user.bedrooms - 1 + current_user.bathrooms - 1) * 10 + 190 %>
      <% end %>
    </p>

		</div>
		</div>

<div class="panel panel-default col-xs-4 infobox unroundedbottom">
  <div class="panel-heading">
    <div class="panel-title center">
      <h4 class="emerald"><span class="glyphicon glyphicon-comment emerald"></span> &nbsp;&nbsp;&nbsp; Notes for your Maid</h4>
    </div>
  </div>

  <div class="panel-body">

  <p><strong>Maid entry: </strong><%= current_user.keys %></p>
  <p><strong>Parking info: </strong><%= current_user.parking %></p>
  <p><strong>Pet info: </strong><%= current_user.pets %></p>
  <p><strong>Location of trash: </strong><%= current_user.trash %></p>

</div>

</div>

<div class="panel panel-default col-xs-4 infobox unroundedbottom">
  <div class="panel-heading">
    <div class="panel-title center">
      <h4 class="emerald"><span class="glyphicon glyphicon-exclamation-sign emerald"></span> &nbsp;&nbsp;&nbsp; Need Help?</h4>
    </div>
  </div>

  <div class="panel-body">
</br>
</br>
</br>
</br>
</br>
  <p>Contact MaidPing</p>
  <p>Email: help@maidping.com</p>
  <p>Phone: 1-888-888-2222</p>

</div>

</div>

<div class="col-xs-12 centering center whiteback zeromargtop unroundedtop">
</br>
  <button type="button" class="btn btn-default btn"><%= link_to edit_user_registration_path do %><span class="glyphicon glyphicon-pencil"></span>  Edit Info<% end %></button>
</br>
</br>
</div>