<div class="well">
<div class="jumbotron center belize">
	<h1>Get Ready for a Clean Home</h1>
  <h2>You deserve it!</h2>

  </br>

	<%= link_to "I'm New, Ping a Maid Now!", new_user_registration_path, class: "btn btn-success btn-lg emeraldback"  %>	
  <%= link_to new_user_session_path do %><button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-user"></span>  Log me in, I'm a Regular! <% end %></button>
  </div>

  <%= link_to safety_path do %>
  <h4 class="text-muted center">&nbsp;&nbsp;&nbsp;&nbsp;Your home is your castle  <span class="glyphicon glyphicon-tower emerald"></span>  Learn more about our safety</h4>
  <% end %>
</div>

<div class="row center">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail cloud">
      <div class="caption">
        <h3 class="belize">The Best Maids in LA</h3>
        <p class="emerald">At your home when you need it clean</p>
      </div>
     </div>
  </div>

<%= link_to pricing_path do %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail cloud">
      <div class="caption">
        <h2 class="belize">Simple Pricing, Premium Cleaning</h2>
        <p class="emerald">100% Guaranteed</p>
      </div>
    </div>
  </div>
  <% end %>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail cloud">
      <div class="caption">
        <h3 class="belize">Every Maid & Job Reviewed</h3>
        <p class="emerald">Backgrounds Checked, Bonded & Insured</p>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/recent' %>

<!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          </br>
        </br>
        </br>
          <h2 class="featurette-heading white">Finally, Maids that Rock! <span class="emerald">We'll amaze you.</span></h2>
          <p class="lead cloudtext">Getting a maid is usually a pain. Not with MaidPing. Just sign in, book your maid when you want your house cleaned and kick up your feet. Online, secure checkout.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-rounded img-thumbnail" data-src="holder.js/500x500/auto" <%= image_tag "lamaid4.jpg" %> 
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-rounded img-thumbnail" data-src="holder.js/500x500/auto" <%= image_tag "lamaid5.jpg" %>
        </div>
        <div class="col-md-7">
          </br>
        </br>
        </br>
          <h2 class="featurette-heading white">Cleaning houses goes Hi-Tech! <span class="emerald">See the Clean.</span></h2>
          <p class="lead cloudtext">We reinvented the maid service. Push a couple of buttons, and your maid shows up on time. Relax. Simplicity at its best. Maid service that just works!</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
        </br>
        </br>
        </br>
          <h2 class="featurette-heading white">We Want to be your go-to Maids. <span class="emerald">Win-Win.</span></h2>
          <p class="lead cloudtext">We take your satisfaction seriously. Review your maid after each cleaning. We only keep the best maids. Your house cleaning is 100% guaranteed.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-rounded img-thumbnail" data-src="holder.js/500x500/auto" <%= image_tag "lamaid6.jpg" %> 
        </div>
      </div>

      


      <!-- /END THE FEATURETTES -->






