<h1 class="cloudtext center">We Clean all over LA</h1>

<div class="jumbotron center">
	<h2 class="center belize">Some of the LA Neighborhoods We Clean:</h2>

	<img class="img-thumbnail" <%= image_tag "DowntownLA.png"%>
	<h3 class="center belize">Downtown LA</h3>
</br>
	<img class="img-thumbnail" <%= image_tag "SantaMonica.png"%>
	<h3 class="center belize">Santa Monica</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "Pasadena.png"%>
	<h3 class="center belize">Pasadena</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "Belair.png"%>
	<h3 class="center belize">Bel Air</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "HollywoodHills.png"%>
	<h3 class="center belize">Hollywood and Hollywood Hills</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "Midcity.png"%>
	<h3 class="center belize">Miracle Mile</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "Venice.png"%>
	<h3 class="center belize">Venice</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "LosFelizSilverlake.png"%>
	<h3 class="center belize">Los Feliz and Silverlake</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "Koreatown.png"%>
	<h3 class="center belize">Koreatown</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "westwood.png"%>
	<h3 class="center belize">Westwood & UCLA</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "BeverlyHills.png"%>
	<h3 class="center belize">Beverly Hills</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "Glendale.png"%>
	<h3 class="center belize">Glendale</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "PacificPalisades.png"%>
	<h3 class="center belize">Pacific Palisades</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "USC.png"%>
	<h3 class="center belize">USC</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "WestHollywood.png"%>
	<h3 class="center belize">West Hollywood</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "CulverCity.png"%>
	<h3 class="center belize">Culver City</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "BrentwoodWestLA.png"%>
	<h3 class="center belize">Brentwood & West LA</h3>
	</br>
	<img class="img-thumbnail" <%= image_tag "CenturyCity.png"%>
	<h3 class="center belize">Century City</h3>
</div>	


<div class="jumbotron center narrow2">
	<h2 class="center belize">We clean almost anywhere around Los Angeles</h2>
<img class="img-rounded img-thumbnail" <%= image_tag "lamap.png"%>

</br>
</br>

<button type="button" class="btn btn-default btn-lg "><%= link_to book_path do %><span class="glyphicon glyphicon-calendar"></span>  Book a Maid Now <% end %></button>
</div>


