<p>
  <strong>Your Next Cleaning:</strong>
  <%= @cleaning.month %>
  <%= @cleaning.day %>
  <%= @cleaning.hour %>
  <%= @cleaning.minute %>
  <%= @cleaning.ampm %>
</p>

<%= link_to 'Edit', edit_cleaning_path(@cleaning) %> |
<%= link_to 'Back', cleanings_path %>
