<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "MaidPing", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Pricing", pricing_path %></li> 
      <li><%= link_to "Where", where_path %></li>
        <% if user_signed_in? %>
        <li><button type="button" class="btn btn-default navbar-btn"><%= link_to profile_path do %><span class="glyphicon glyphicon-calendar"></span>  Book a Maid Now<% end %></button></li>
          <li><%= link_to "My Account", profile_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><button type="button" class="btn btn-default navbar-btn"><%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-calendar"></span>  Book a Maid Now<% end %></button></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up for 10% off", new_user_registration_path %></li>
        <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
</nav>