<hr class="featurette-divider">

<h3 class="white center">Our Maids' Most Recent 5 Star Ratings:</h3>

</br>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title center"><img class="img-thumbnail" height="50" width="50" <%= image_tag "maid1.jpg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span></p>
      </div>
      <div class="panel-body center">
        <span class="label label-success">Maid: Mary, Jan. 8th., Santa Monica</span></br></br><p>"Mary did an awesome job"</p>
      </div>
    </div>
  </div>  

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title center"><img class="img-thumbnail" height="55" width="55" <%= image_tag "maid2.jpg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span></p>
      </div>
      <div class="panel-body center">
        <span class="label label-success">Maid: Jen, Jan. 8th., Culver City</span></br></br><p>"I will definitely recommend her"</p>
      </div>
    </div>
  </div>  

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title center"><img class="img-thumbnail" height="80" width="80" <%= image_tag "maid3.jpg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span></p>
      </div>
      <div class="panel-body center">
        <span class="label label-success">Maid: Summer, Jan. 8th., Hollywood</span></br></br><p>"Summer cleaned really well"</p>
      </div>
    </div>
  </div>  

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title center"><img class="img-thumbnail" height="70" width="70" <%= image_tag "maid4.jpg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span></p>
      </div>
      <div class="panel-body center">
        <span class="label label-success">Maid: Linda, Jan. 8th., Westwood</span></br></br><p>"I'll defintely order again"</p>
      </div>
    </div>
  </div>  

</div>

<div class="row">

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title center"><img class="img-thumbnail" height="50" width="50" <%= image_tag "maid5.jpg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span></p>
      </div>
      <div class="panel-body center">
        <span class="label label-success">Maid: Talia, Jan. 8th., Santa Monica</span></br></br><p>"Impressive work"</p>
      </div>
    </div>
  </div>  

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title center"><img class="img-thumbnail" height="75" width="75" <%= image_tag "maid6.jpg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span></p>
      </div>
      <div class="panel-body center">
        <span class="label label-success">Maid: Louise, Jan. 8th., Marina Del Rey</span></br></br><p>"It's so clean now"</p>
      </div>
    </div>
  </div>  

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title center"><img class="img-thumbnail" height="60" width="60" <%= image_tag "maid7.jpg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span></p>
      </div>
      <div class="panel-body center">
        <span class="label label-success">Maid: Maria, Jan. 7th., Burbank</span></br></br><p>"Thanks, Maria"</p>
      </div>
    </div>
  </div>  

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title center"><img class="img-thumbnail" height="60" width="60" <%= image_tag "maid8.jpg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span><span class="glyphicon glyphicon-star star"></span></p>
      </div>
      <div class="panel-body center">
        <span class="label label-success">Maid: Monica, Jan. 7th., Downtown LA</span></br></br><p>"My home is really clean now because of Monica"</p>
      </div>
    </div>
  </div>  

</div>