<!DOCTYPE html>
<html>
<head>
  <title>MaidPing</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<%= render 'layouts/header' %>


	<% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

<%= yield %>



	<footer class="cloud">
        <hr class="featurette-divider">
      
        <p class="belize center"><strong><span class="glyphicon glyphicon-copyright-mark"></span> 2014 MaidPing&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your Regular Maid</p></strong>
        <hr class="featurette-divider">

      </footer>

</body>
</html>
